*{
  font-family: Noto Kufi Arabic;
}

h1 {
    font-size: 48px;
    background: -webkit-linear-gradient(270deg, #8F5815 0%, #3D6002 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-top: 76px;
    margin-bottom: 83px !important
  }

  h2 {
    font-size: 72px;
    background: -webkit-linear-gradient(270deg, #8F5815 0%, #3D6002 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }